*{
    padding: 0;
    margin: 0;
}
:root{
    --color_principal:black;
    --sizeText:24px;
    --sizeTitulo:30px;
    --paddinContent:22psx;
    --muestraSize:16px;
    --mediaMuestraSize:13px
}
a{
    text-decoration: none;
}
h1{
        font-size: var(--sizeTitulo);
}
h3{
    font-size: var(--sizeText);
}
/*particulares*/
.nav{
    display: flex;
    font-size: var(--sizeText);
    justify-content: center;
    border-bottom: 1px black solid;
    padding: 10px 0;
}
.contenedor_nav{
    display: flex;
    min-width: 620px;
    justify-content: space-between;
}
.contenedor_a>a{
    padding: 0 10px;
    color: var(--color_principal);
}


/* generales*/
.activado{
    display: block;
}
.apagado{
    display: none;
}
.img_content{
    display: flex;
    flex-direction: row;
}
.seccion{
    border-bottom: 1px black solid;
    min-width: 580px;
    max-width: 900px;
    font-family: 'Inter', sans-serif;
    line-height: 1.72; 
    font-size: var(--sizeText);
    padding-top:var(--paddinContent);
    padding: 15px 0;

}
.articulo_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
/**/
.redes{
    display: flex;
    justify-content: center;

    padding-top: 25px;
}
.redes>a{
    padding:0 5px ;
}
.redes>a>img{
    width: 80px;
}
.img_content{
    display: flex;
    gap:15px;
    justify-content: center;
}
.carrusel_hover>img{
    width: 150px;
}
.estructura_first{
    display: grid;
    padding-bottom: var(--paddinContent);
    grid-template-columns: 1fr  repeat(2) ;
    gap: 10px;

}
.estructura_Flex{
    display: flex;
    justify-content:space-around;

}
.top{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    
}
.producto>img{
    width: 180px;
    height: 180px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

}
.producto>p{
    display: block;
    line-height: normal;
    padding-bottom: 15px;
    max-width: 185px;
}
.producto>p>span,.producto>p>a{
    display: flex;
    font-size: var(--muestraSize);
    line-height: 1; 
    padding-top: 3px;
}
/*articulos*/
.seccion>h1{
    text-align: center;
}
.animar{
    
    animation: 0.3s ease-in  slide-in;
}
.articulo_producto>img{
    max-width: 730px;
}


.articulo_producto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.articulo_producto>h3{
    font-size: var(--sizeTitulo);

}
.articulo_producto>p{
    font-size: var(--sizeText);
}
.referido{
    display: flex;
    gap: 10px 25px;
    justify-content: center;
    font-size: var(--sizeText);

}
.referido_icon{
    display: flex;
    gap: 15px;

    
}
.referido_icon > img{
    width: 50px;
    
}
.lista{
    font-size: var(--sizeText);
    padding: 3px;
}
.carrusel{
    display: flex;
    flex-direction: column;
}
.carrusel_enlace{
    
    font-size: var(--sizeText);
    border-radius: 10px;
}

.carrusel_img{
    min-width: 350px;
    height: 700px;
}
.carrusel_img>img{
    width: cover;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 750px){

    .contenedor_nav{
        min-width: 320px;
    }
    :root{
    --color_principal:black;
    --sizeText:18.5px;
    --sizeTitulo:26px;
    }
    .seccion{
        min-width: 350px;
   
    }

    .articulo_img{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .adaptar{
        gap: 10px;
        max-width: 360px;
    }
    .articulo_producto>p,.articulo_producto>h2 {
        padding: 3px;
    }
    .articulo_img{
        min-width:350px ;
        text-align: center;
        min-width:350px ;
        
    }
    .carrusel_img{
        width:350px;
        height: 350px;
   
    }
    .articulo_img>img, .carrusel_img> img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .producto{
        font-size: var(--muestraSize);
    }
    .producto>p{
        display: flex;
        flex-direction: column;
    }
    .producto>p>span{
        font-size:var(--mediaMuestraSize)
    }

    .producto>img{
        width: 125px;
        height: 125px;
    }
    .bottom{

    }
}


/*animation*/
.jump{
    
    animation: 0.3s ease-in jump;
}
@keyframes slide-in{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.15;

    }
    55%{
        opacity: 0.4;

    }
    100%{
        opacity: 1;
    }
}
@keyframes jump{
    from{
        scale: 1.2;

    }
    to{
        scale: 1;
    }
}
